@font-face {
	font-family: gothamRoundedLight;
	src: url(gotham-rounded-light.otf);
}

html
{
	margin: 0;
	padding: 0;
}

body
{
	padding: 0;
	margin: 0;
	background-color: #2D2D30;
	color: #3498db;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#title-bar
{
	-webkit-user-select: none;
	-webkit-app-region: drag;
	position: fixed;
	width: 100%;
	height: 32px;
	padding: 0;
	margin: 0;
	color: #ADADAD;
	background-color: #2D2D30;
	font-family: sans-serif;
	z-index: 9999;
}

#title
{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 12px;
	line-height: 32px;
	font-size: 14px;
}

#title-bar-btns
{
	-webkit-app-region: no-drag;
	visibility: hidden;
	position: fixed;
	top: 1px;
	right: 0;
}

#title-bar-btns button
{
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#title-bar-btns button:hover
{
	background-color: #3F3F41;
}

#content
{
	padding: 12px;
	color: #CCCCCC;
	z-index: 0;
}

a
{
	color: #68217A;
}
