input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Login {
    position: absolute;
    right: 0;

    height: calc(100vh - 64px - 20px);
    width: calc(60% - 15px);

    padding: 10px;
}

.temp {
    top: 80%;
}

.LoginBox {
    position: absolute;
    top: 62.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    text-align: center;

    height: 175px;
    width: 85%;

    padding: 10px;
}

.Logo {
    position: absolute;
    top: 22.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    height: 25%;
}
